aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
certifi
contourpy
cycler
discord.py
fonttools
frozenlist
geopandas
idna
importlib_resources
kiwisolver
loadenv
matplotlib
multidict
numpy
packaging
pandas
pillow
propcache
pyogrio
pyparsing
pyproj
python-dateutil
python-dotenv
pytz
shapely
six
typing_extensions
tzdata
yarl
yt-dlp
zipp
psycopg2-binary